body {
  text-align:center;
  color: #FFFAF0;
  font-family: georgia;
  font-size: 18px;
}

header:before, nav:before, main:before, section:before, article:before, aside:before, footer:before {
  position: relative;
  top: 0;
  left: 0;
}

header, nav, main, section, article, aside, footer {
  border: 1px solid #8B0000;
  padding: 1em;
}

img {
  display: block;
}


header:before {
  content: "<header>";
  color: #483D8B;
}

header {
  background-color: #483D8B;
}

nav:before {
  content: "<nav>";
  color: #FFE4C4;
}

nav {
  background-color: #FFE4C4;
}

main:before {
  content: "<main>";
  color: #6495ED;
}

main {
  background-color: #6495ED;
}

section:before {
  content: "<section>";
  color: #00008B;
}

img {
  display: block;
  margin-left: 250px;
  margin-right: auto;
  width: 100%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
section {
  background-color: #00008B;
}

article:before {
  content: "<article>";
  color: #9932CC;
}

article {
  background-color: #9932CC;
}

aside:before {
  content: "<aside>";
  color: #777;
}

aside {
  background-color: #999;
}

footer:before {
  content: "<footer>";
  color: #666;
}

footer {
  background-color: #888;
}
